#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.dealerPanel{
  display: flex;
  flex-direction: row;
}

.dealerComponent{
  display: flex;
  margin: 10px;
}

.AIButtons{
  display: flex;
  flex-direction: column;
}

.mainGamePanel{
  display: flex;
  flex-direction: row;
}

.board{
  display: flex;
  flex-direction: column;
}

.boardRow{
  display:flex;
  flex-direction: row;
}

.cardToggle{
  display:flex;
  flex-direction: column;
}